*, *::after, *::before {
    box-sizing: border-box;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, small, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Segoe UI","Microsoft Yahei",Helvetica,Arial;
}
a, a:active, a:focus, a:hover, input, input:active, input:focus, input:hover {
    outline: 0 none;
}
ol, ul {
    list-style: outside none none;
}
body {
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.container {
    display: flex;
    max-width: 800px;
    position: relative;
    width: 60%;
}
.container img {
    height: 100%;
    transition: filter 1.5s ease 0s, -webkit-filter 1.5s ease 0s;
    width: 100%;
}
.container .caption {
    height: 100%;
    padding: 30px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.container .caption .title {
  /*  -moz-box-align: center;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    align-items: center;*/
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.46);
    color: #fffffb;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
    transition: opacity 0.5s ease 0s;
    width: 100%;
}
.container .caption .title::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fffffb;
    border-image: none;
    border-style: solid;
    border-width: 0 3px;
    content: "";
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
}
.container .caption .title::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fffffb;
    border-image: none;
    border-style: solid;
    border-width: 3px 0;
    content: "";
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 0;
}
.container .caption .title h1 {
    margin-bottom: 10px;
}
.container .caption .title a {
    color: #3498db;
    font-size: 15px;
    position: relative;
    z-index: 1;
}
.container .streamer {
    animation: 5s linear 0s normal none infinite running streamer;
    background-clip: text;
    background-image: -moz-linear-gradient(left center , #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%, #ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);
    background-size: 200% auto;
    color: transparent;
}
.container .slideIn {
    opacity: 0;
    transform: translate(0px, 20px);
    transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, -moz-transform 0.5s ease 0s, -o-transform 0.5s ease 0s;
}
.container .breathe {
    animation: 5s linear 0s normal none infinite running breathe;
}
.container:hover img {
    filter: blur(1px);
}
.container:hover .title {
    opacity: 1;
}
.container:hover .title::before {
    height: 100%;
    top: 0;
    visibility: visible;
}
.container:hover .title::after {
    left: 0;
    visibility: visible;
    width: 100%;
}
.container:hover .slideIn {
    opacity: 1;
    transform: translate(0px);
}
@keyframes streamer {
0% {
    background-position: 0 0;
}
100% {
    background-position: -100% 0;
}
}
/*@keyframes streamer {
0% {
    background-position: 0 0;
}
100% {
    background-position: -100% 0;
}
}
@keyframes streamer {
0% {
    background-position: 0 0;
}
100% {
    background-position: -100% 0;
}
}
@keyframes breathe {
0% {
    color: #3498db;
}
25% {
    color: #d71345;
}
50% {
    color: #f7acbc;
}
75% {
    color: #d71345;
}
0% {
    color: #3498db;
}
}
@keyframes breathe {
0% {
    color: #3498db;
}
25% {
    color: #d71345;
}
50% {
    color: #f7acbc;
}
75% {
    color: #d71345;
}
0% {
    color: #3498db;
}
}*/
@keyframes breathe {
0% {
    color: #3498db;
}
25% {
    color: #d71345;
}
50% {
    color: #f7acbc;
}
75% {
    color: #d71345;
}
0% {
    color: #3498db;
}
}